<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Required for the manual picker to provide its User/System/All visibility modes. -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <permission
        android:name="com.zanuaimi.unimanager.permission.BRIDGE"
        android:description="@string/bridge_permission_description"
        android:label="UniManager bridge"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniManager">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".UpdateFileProvider"
            android:authorities="com.zanuaimi.unimanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name=".bridge.BridgeService"
            android:exported="true"
            android:permission="com.zanuaimi.unimanager.permission.BRIDGE">
            <intent-filter>
                <action android:name="com.zanuaimi.unimanager.BRIDGE" />
            </intent-filter>
        </service>
    </application>
</manifest>
